*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #9e0b0bdd;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  nav {
    /* position: relative; */
    background-color: #e3dadac9;
    padding: 10px 0;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin: 0 15px;
    
  }
  nav ul li a{
    padding: 5px 15px;
    
  }

  nav ul li a {
    /* position: relative; */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #060606;
    /* z-index: 1; */
  }

 .hover ul li a:hover{
    /* border: 1px solid black; */
    background-color: rgb(200, 157, 239);
    color: white;
    padding:5px 15px;
    transition:.5sec ease-in-out;
    border-radius: 8px;

 }

  /* .banner { */
    /* background-image: url('path/to/banner-image.jpg');
    background-size: cover;
    background-position: center; */
    /* background-color: rgb(117, 224, 243);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .carousel-item{
    width: 100%;
    height: 700px;
  }

  .carousel-item img{
    width: 100%;
  }

  /* .banner h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
  } */

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }

  .product-card {
    background-color: #fdafaf;
    border-radius: 5px;
    padding: 20px;
  }

  .title{
    padding: 10px 0;
  }
  .description{
    padding: 0 0 10px 0;
  }

  .butt-card button{
    background-color: rgb(7, 7, 7);
    color: white;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    /* margin: 0 auto; */
  }

  .card_img img{
    width: 100%;
  }